<div class="container-fluid">
  <p class="h3 p-3">Resena numero {{resenaDetail.id}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <h3>Comentario</h3>
        <p> {{resenaDetail.comentario}}</p>
        <h3>Calificacion</h3>
        <p>{{resenaDetail.calificacion}}</p>
      </div>
    </div>
    <!--<div class="col">
      <dl>
        <dt> Evento</dt>
        <dd>No available information</dd>
        <dt> Nombre evento</dt>
        <dd>{{eventoDetail.nombre}}</dd>
        <hr>
        <dt>Categoria</dt>
        <dd>{{ eventoDetail.categoria}}</dd>
        <hr>
      </dl>
    </div>-->
  </div>
</div>