<nav class="navbar navbar-expand-lg" style="background-color: #0B0C10;">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink= '/home' >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/tickets/list">Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/organizadores/list">Organizadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/actividades/list">Actividades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/contenidosMultimedia/list">Contenido Multimedia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/eventos/list">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/resenas/list">Resenas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/ubicaciones/list">Ubicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/metodosPago/list">Método de Pago</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink= "/pagos/list">Pagos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link10</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link11</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link12</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link13</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info" type="submit">Search</button>
    </form>
  </div>
</nav>