<html>

<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!--<app-actividad-listar></app-actividad-listar>
<app-invitadoEspecial-listar></app-invitadoEspecial-listar>
<app-ticket-listar></app-ticket-listar>
<app-organizador-listar></app-organizador-listar>
<app-resena-listar></app-resena-listar>
<app-ubicacion-listar></app-ubicacion-listar>
<app-evento-listar></app-evento-listar>
<app-usuario-listar></app-usuario-listar>
<app-tarjeta-listar></app-tarjeta-listar>
<app-pago-listar></app-pago-listar>
<app-contenidoMultimedia-listar></app-contenidoMultimedia-listar>
<app-metodoPago-listar></app-metodoPago-listar>
<app-patrocinador-listar></app-patrocinador-listar>
<router-outlet></router-outlet>-->
</html>