<div class="container-fluid">
  <p class="h3 p-3">{{actividadDetail.nombre}}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt> Hora Inicio</dt>
        <dd>{{actividadDetail.horaInicio}}</dd>
        <hr>
        <dt> Hora Fin</dt>
        <dd>{{actividadDetail.horaFin}}</dd>
        <hr>
        <dt>Detalles Adicionales</dt>
        <dd>{{actividadDetail.detallesAdicionales}}</dd>
        <hr>
        <dt class="bold">Evento</dt>
        <dd class="caption">{{actividadDetail.evento.nombre}}</dd>
        <hr>
        <dt class="bold">Localización</dt>
        <dd>{{actividadDetail.localizacion}}</dd>
      </dl>
    </div>
  </div>
</div>
