<div class="container-fluid">
  <p class="h3 p-3">Ubicacion {{ubicacionDetail.id}}: {{ubicacionDetail.nombreLugar}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <p>Fecha y hora</p>
        <p>{{ubicacionDetail.fechaHora}}</p>
        <p>Longitud</p>
        <p>{{ubicacionDetail.longitud}}</p>
        <p>Latitud</p>
        <p>{{ubicacionDetail.latitud}}</p>
        <p>Nombre del lugar</p>
        <p>{{ubicacionDetail.nombreLugar}}</p>
        <p>Ocupado</p>
        <p>{{ubicacionDetail.ocupado}}</p>
      </div>
    </div>
    <!--<div class="col">
      <dl>
        <dt> Evento</dt>
        <dd>No available information</dd>
        <dt> Nombre</dt>
        <dd>{{eventoDetail.nombre}}</dd>
        <hr>
        <dt>Categoria</dt>
        <dd>{{ eventoDetail.categoria}}</dd>
        <hr>
      </dl>
    </div>-->
    <!--<div class="col">
      <dl>
        <dt> Actividad</dt>
        <dd>No available information</dd>
        <dt> Nombre</dt>
        <dd>{{actividadDetail.nombre}}</dd>
        <hr>
        <dt>Hora inicio</dt>
        <dd>{{ strToDate(actividadDetail.horaInicio) |date:"longDate"}}</dd>
        <hr>
        <dt>Hora fin</dt>
        <dd>{{ strToDate(actividadDetail.horaFin) |date:"longDate"}}</dd>
        <hr>
      </dl>
    </div>-->
  </div>
</div>
